<form class="form-group" id="loginpanel" role="form" >
    <div class="form-group has-feedback">
        <label for="inputName" class="control-label">姓名</label>
        <input type="text" class="form-control" id="UserName" name="UserName" placeholder="請填您的大名" data-required-error="快填!" data-minlength-error="at least 3 words" data-minlength="3" required>
        <div class="help-block with-errors"></div>
    </div>
    <div class="form-group has-feedback">
        <label for="inputName" class="control-label">電話</label>
        <input type="password" class="form-control" id="UserPassword" name="UserPassword" data-required-error="必須填!" required>
        <div class="help-block with-errors"></div>
    </div>
    <div>
        <button type="button" onclick="Login()">登入</button>
        <button type="button" onclick="GetAll()">取得</button>
    </div>
</form>
<div id="resultpanel">

</div>

@section Scripts{
    <script type="text/javascript" src="~/Scripts/validator.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#loginpanel').validator();
        });

        function Login() {
            $.ajax({
                type: 'post',
                data: $('#loginpanel').serialize(),
                url: '@Url.Action("Login","Home")',
                success: function (result) {
                    alert(result);
                },
                error: function () {
                    alert("system error!");
                }
            })
        };

        function GetAll() {
            $.ajax({
                type: 'get',
                url: '@Url.Action("GetAll","Home")',
                success: function (result) {
                    $('#resultpanel').html(result);
                },
                error: function () {
                    alert("system error!");
                }
            })
        }
    </script>
}